[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
xgboost = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
requests = "*"
folium = "*"
hyperopt = "*"
jupyter = "*"
jupyterlab = "*"

[requires]
python_version = "3.10"
